<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LogManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogManager.Properties.Settings>
            <setting name="ftp_user" serializeAs="String">
                <value>testlog</value>
            </setting>
            <setting name="ftp_password" serializeAs="String">
                <value>testlog1234</value>
            </setting>
            <setting name="ftp_directory" serializeAs="String">
                <value>ftp://10.208.180.20/DataLOG/</value>
            </setting>
            <setting name="local_directory" serializeAs="String">
                <value>C:\Datalog_Manager</value>
            </setting>
            <setting name="local_testplan1" serializeAs="String">
                <value>C:\Agilent_ICT\log\testplan.txt</value>
            </setting>
            <setting name="local_testplan2" serializeAs="String">
                <value>C:\Agilent3070\log\testplan.txt</value>
            </setting>
            <setting name="date_parser" serializeAs="String">
                <value>http://10.201.192.20/AutoParser/SCH/ICT/GetServerDateTime.aspx?txtFFDB=FF2810_SCH</value>
            </setting>
            <setting name="extension" serializeAs="String">
                <value>.txt</value>
            </setting>
            <setting name="local_project" serializeAs="String">
                <value>C:\Datalog_Project</value>
            </setting>
            <setting name="process_iwas" serializeAs="String">
                <value>NewAutoICTver</value>
            </setting>
            <setting name="iwas_version" serializeAs="String">
                <value>5.5.2</value>
            </setting>
            <setting name="testername1" serializeAs="String">
                <value>C:\Agilent_ICT\iWAS_Win\Knsu_aeh.ini</value>
            </setting>
            <setting name="testername2" serializeAs="String">
                <value>C:\Agilent3070\iWAS_Win\Knsu_aeh.ini</value>
            </setting>
            <setting name="SendSignal" serializeAs="String">
                <value>ftp://10.208.180.20/DataLOG_Software/Signal_From_Software/</value>
            </setting>
            <setting name="yield1" serializeAs="String">
                <value>C:\Agilent_ICT\iWAS_Win\yield.txt</value>
            </setting>
            <setting name="yield2" serializeAs="String">
                <value>C:\Agilent3070\iWAS_Win\yield.txt</value>
            </setting>
            <setting name="listprojectNG" serializeAs="String">
                <value>ftp://10.208.180.20/DataLOG_Software/List_Project_Not_Create_Test_Log/</value>
            </setting>
            <setting name="tester_signal" serializeAs="String">
                <value>ftp://10.208.180.20/DataLOG_Software/Signal_From_Software/</value>
            </setting>
            <setting name="SendSignal2" serializeAs="String">
                <value>ftp://10.208.180.20/DataLOG_Software/Signal_From_Software</value>
            </setting>
            <setting name="listprojectNT" serializeAs="String">
                <value>ftp://10.208.180.20/DataLOG_Software/List_Project_Not_Txt_Format/</value>
            </setting>
            <setting name="loginparser" serializeAs="String">
                <value>http://btmnt008/AutoParser/SCH/FCT/Login.aspx?txtBadgeNo=</value>
            </setting>
        </LogManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
